// SPDX-License-Identifier: MIT
// Copyright (c) 2026 Autumnal Software

#pragma once

namespace weather
{

class BinaryReadStream;
class BinaryWriteStream;

{% for m in model.measurements %}
struct {{ m.name }};
{% endfor %}

{% for m in model.measurements %}
BinaryWriteStream& write{{ m.name }}(BinaryWriteStream& stream,
                                     const {{ m.name }}& measurement) noexcept;

BinaryReadStream& read{{ m.name }}(BinaryReadStream& stream,
                                   {{ m.name }}& measurement) noexcept;

{% endfor %}
} // namespace weather
