// SPDX-License-Identifier: MIT
// Copyright (c) 2026 Autumnal Software

#pragma once

namespace weather
{

{% for m in model.measurements %}
struct {{ m.name }}
{
{% if m.fields|length == 0 %}
};
{% else %}
{% for f in m.fields %}
    {{ f.type }} {{ f.name }}{};
{% endfor %}
};
{% endif %}

{% endfor %}
} // namespace weather
